# PyCharm
# http://www.jetbrains.com/pycharm/webhelp/project.html
.idea
.iml


# Eclipse
*.pydevproject
.project
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*.launch




#python specific
*.pyc

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.pid

